{% extends 'base.html.twig' %}

{# use macro to customize the render of the form #}
{% import 'macros/form_render.html.twig' as fieldRender %}

{% block title %}{{ app.user.firstName }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/profile') }}
    {{ encore_entry_link_tags('styles/login') }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center pt-5">
        <div class="card mb-3">
            <div class="card-header text-white text-center">
                <h5>{{ 'changePassword.card_header'|trans|raw }}</h5>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ fieldRender.formFieldRender('oldPassword', form.oldPassword, 'change_password') }}
                    {{ fieldRender.formNewPasswordRender('newPassword', form.newPassword, 'change_password') }}
                    <div class="d-grid gap-2 mx-auto mt-4">
                        <button type="submit" class="btn btn-login">
                            <i class="fas fa-check"></i>&nbsp;&nbsp;{{ 'form.btn.validate'|trans|raw }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
