{% extends 'base_login.html.twig' %}

{% block title %}{{ 'login.block.title'|trans|raw }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/login') }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center p-2">
        <img src="{{ asset('img/library/hbtlogo.png') }}" width="56" height="56" alt="">
        <span class="title-form pt-2">HappyBizTrip</span>
    </div>
    {% if app.user %}
        <div class="d-flex justify-content-center pt-2">
            <div class="alert alert-info" role="alert" style="min-width: 20rem; max-width: 30rem;">
                <h4 class="alert-heading text-center">{{ 'login.alert.heading'|trans|raw }}</h4>
                <hr>
                <p class="text-center">{{ 'login.alert.msg_loggued'|trans|raw }}
                    <br><strong>{{ app.user.username }}</strong>
                </p>
                <hr>
                <p class="text-center">
                    <a href="{{ path('homepage') }}"
                        <button type="button" class="btn btn-homepage btn-sm">
                                <i class="fas fa-home"></i>&nbsp;
                                {{ 'login.alert.btn_home'|trans|raw }}
                        </button>
                    </a>
                    <a href="{{ path('hbt_logout') }}"
                        <button type="button" class="btn btn-disconnect btn-sm">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;
                                {{ 'login.alert.btn_disconnect'|trans|raw }}
                        </button>
                    </a>
                </p>
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center pt-2">
            <div class="card mb-3">
                <div class="card-header text-white text-center">
                    <h4>{{ 'login.card.header'|trans|raw }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST" novalidate>
                        {% set boolFalseEmail = false %}
                        {% set boolFalsePassword = false %}
                        {% if error %}
                            {% if 'accountDisabled' in error.message %}
                                {% set msgError = 'account.disabled' %}
                            {% elseif 'accountDeleted' in error.message %}
                                {% set msgError = 'account.deleted' %}
                            {% else %}
                                {% set msgError = 'login.error.credential' %}
                                {% if 'credentials' in error.message %}
                                    {% set boolFalseEmail = true %}
                                {% endif %}
                                {% if 'password' in error.message %}
                                    {% set boolFalsePassword = true %}
                                {% endif %}
                            {% endif %}
                            <div class="alert alert-danger text-center" role="alert">
                                <i class="fas fa-exclamation-circle"></i>
                                {{ msgError|trans|raw }}
                            </div>
                            {# <div class="alert alert-danger text-center" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
                        {% endif %}
                        <div class="form-group">
                            <label class="form-label" for "inputEmail">{{ 'form.label.email'|trans|raw }}</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control 
                            {% if boolFalseEmail %} is-invalid {% endif %}" required autofocus>
                            {% if boolFalseEmail %}
                                <div class="invalid-feedback">
                                    {{ 'login.form.feedback_email'|trans|raw}}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group mt-4">
                            <label class="form-label" for "inputPassword">{{ 'form.label.password'|trans|raw }}</label>
                            <input type="password" name="password" id="inputPassword" class="form-control 
                            {% if boolFalsePassword %} is-invalid {% endif %}" required>
                            {% if boolFalsePassword %}
                                <div class="invalid-feedback">
                                    {{ 'login.form.feedback_password'|trans|raw}}
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <div class="d-grid gap-2 mx-auto mt-4">
                            <button type="submit" class="btn btn-login">
                                <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;{{ 'form.btn.login'|trans|raw }}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row mt-2">
                        <div class="col-4">
                            <p id="p-left">
                                <i class="fas fa-home"></i>&nbsp;
                                <a href="{{ path('homepage') }}">{{ 'login.home.card_footer'|trans|raw }}</a>
                            </p>
                        </div>
                        <div class="col-8">
                            <p id="p-right">
                                <i class="fas fa-user-lock"></i>&nbsp;
                                <a href="#">{{ 'login.password.card_footer'|trans|raw }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
