{% extends 'base.html.twig' %}

{# use macro to customize the render of the form #}
{% import 'macros/formRender.html.twig' as fieldRender %}
 
{% block title %} {{ 'home.block.title'|trans|raw }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles/home') }}
    {{ encore_entry_link_tags('styles/datepicker') }}
{% endblock %}

{% block body %}
  <main>
    <div class="home-jumbo p-5 mb-4">
      <div class="container-fluid py-5">
        <div class="row align-items-center">
          <div class="col-md-7">
              <h1 class="display-4 home-title">{{ 'home.title'|trans|raw }}</h1>
              <p class="lead home-title home-subtitle">{{ 'home.subtitle'|trans|raw }}</p>
              <img class="home-img" src="{{ asset('img/library/imgHomepage.png') }}" alt="">
          </div>
          <div class="col-md-4">
            <div class="card mt-1">
              <div class="card-header text-center card-entete">
                <h4>{{ 'form.register.title'|trans|raw }}</h4>
                <h4>{{ 'form.register.subtitle'|trans|raw }}</h4>
              </div>
              {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                  <div class="card-body">
                      {{ fieldRender.formFieldRender('firstName', form.firstName, 'home_register') }}
                      {{ fieldRender.formFieldRender('email', form.email, 'home_register') }}
                      {{ fieldRender.formDateRender('birthDate', form.birthDate, 'home_register') }}
                      {{ fieldRender.formFieldRender('password', form.password, 'home_register') }}
                  </div>
                  <div class="card-footer text-center">
                    <div class="d-grid gap-2 mx-auto">
                        <button type="submit" class="btn btn-register">{{ 'form.btn.register'|trans|raw }}</button>
                    </div>
                  </div>
              {{ form_end(form) }}              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="concept-title">{{ 'home.concept.title'|trans|raw }}</p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ullamcorper eget nulla facilisi etiam dignissim. Elementum sagittis vitae et leo duis ut. 
          Dictum at tempor commodo ullamcorper a. Ornare lectus sit amet est placerat in egestas. 
          Lectus magna fringilla urna porttitor rhoncus. Ut pharetra sit amet aliquam id diam. 
          Est velit egestas dui id ornare arcu odio. Elit sed vulputate mi sit. Odio euismod lacinia at quis. 
          Duis at consectetur lorem donec massa sapien faucibus. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. 
          Fusce id velit ut tortor pretium viverra suspendisse potenti. Id diam maecenas ultricies mi eget. 
          Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Porttitor massa id neque aliquam vestibulum. 
          Molestie nunc non blandit massa enim nec. 
          Maecenas volutpat blandit aliquam etiam.
      </p>
      <p>
          Non blandit massa enim nec dui nunc mattis enim ut. Ante metus dictum at tempor commodo ullamcorper. Mattis pellentesque id nibh tortor. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Sit amet aliquam id diam maecenas ultricies. Fringilla urna porttitor rhoncus dolor purus non enim. Malesuada fames ac turpis egestas integer eget aliquet nibh. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Ut pharetra sit amet aliquam. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Et malesuada fames ac turpis egestas sed tempus urna. Consequat interdum varius sit amet mattis.
      </p>
      <p class="pricing-title mt-5 mb-4">{{ 'home.price.title'|trans|raw }}</p>
      <div class="row">
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_free'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">Discover the website</span>
                      <hr>
                      <h6 class="card-text">Features limited</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_occasional'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">8,99 &euro;</span>
                      <span class="frequency"> / semaine</span>
                      <hr>
                      <h6 class="card-text">Engagement minimum de 1 semaine</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_punctual'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">28,99 &euro;</span>
                      <span class="frequency"> / mois</span>
                      <hr>
                      <h6 class="card-text">Engagement minimum de 1 mois</h6>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_temporary'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">25,99 &euro;</span>
                      <span class="frequency"> / mois</span>
                      <hr>
                      <h6 class="card-text">Engagement minimum de 3 mois</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_regular'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">20,99 &euro;</span>
                      <span class="frequency"> / mois</span>
                      <hr>
                      <h6 class="card-text">Engagement minimum de 6 mois</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <div class="card-header">
                      {{ 'subscription.type_permanent'|trans|raw }}
                  </div>
                  <div class="card-body">
                      <span class="card-title">17,99 &euro;</span>
                      <span class="frequency"> / mois</span>
                      <hr>
                      <h6 class="card-text">Engagement minimum de 12 mois</h6>
                  </div>
              </div>
          </div>
      </div>
      {# for datapicker customization #}
      <input type="hidden" id="language" data-lang = "{{ app.request.locale }}">
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('js/datepicker') }}
{% endblock %}