<nav id="navhome" class="navbar navbar-expand-lg navbar-light fixed-top">
  {% set pathUrl = 'homepage' %}
  {% if app.user %}
    {% set pathUrl = 'hbt_feed' %}
  {% endif %}
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path(pathUrl) }}">
      <img src="{{ asset('img/library/hbtlogo.png') }}" width="32" height="32" class="d-inline-block align-top" alt="">
      <span class="nav-title">HappyBizTrip</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope-open"></i>&nbsp;Messages
              {# {% if unread_messages > 0 %}<span class="badge badge-red" id="unread-messages" style="display: inline;">{{ unread_messages }}</span>{% endif %} #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-plane-departure"></i>&nbsp;Mes BizTrip
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="#">{{ 'menu.home.home'|trans|raw }} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'menu.home.concept'|trans|raw }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'menu.home.price'|trans|raw }}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav d-flex">
        {# Language dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="locales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-globe" id="lang"></i> {{ app.request.locale|capitalize }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="locales">
            {% for locale in locales() %}
              <li>
                {% set dropdownActive = "" %}
                {% set dropdownAria = "" %}
                {% if app.request.locale == locale.code %}
                  {% set dropdownActive = "active" %}
                  {% set dropdownAria = "aria-current=true" %}
                {% endif %}
                <a class="dropdown-item {{ dropdownActive }}" {{ dropdownAria }} href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                  {{ locale.name|capitalize }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {# if user already connected #}
      {% if app.user %}
        <ul class="navbar-nav d-flex ps-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src=
                {% if app.user.avatar is empty %}
                  "{{ asset('img/library/defaultAvatar.png') }}"
                {% elseif app.user.avatar starts with 'https:' %}
                  "{{ app.user.avatar }}"
                {% else %}
                  "{{ asset('/uploads/avatars/' ~ app.user.avatar) }}"
                {% endif %}
                  class="avatar avatar-mini" id="imgAvatarNav" alt="" alt="{{ 'alt.avatar'|trans|raw }} {{ app.user.firstName }}">
                  &nbsp;{{ app.user.firstName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdownLink">
              <li><a href="#" class="dropdown-item">{{ 'header.mnu.profile_biztrip'|trans|raw }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="#" class="dropdown-item">{{ 'header.mnu.profile_profile'|trans|raw }}</a></li>
              <li><a href="#" class="dropdown-item">{{ 'header.mnu.profile_subscription'|trans|raw }}</a></li>
              <li><a href="{{ path('profile_password', {'slug':app.user.slug}) }}" class="dropdown-item">{{ 'header.mnu.profile_password'|trans|raw }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{{ path('hbt_logout') }}" class="dropdown-item">{{ 'header.mnu.profile_logout'|trans|raw }}</a></li> 
            </ul>
          </li>
        </ul>
      {% else %}
      <div class="ps-2">
        <a href="{{ path('hbt_login') }}">
          <button class="btn btn-outline-hbtDarkBlue btn-sm my-sm-0 shadow-none">{{ 'menu.home.sign_in'|trans|raw }}</button>
        </a>
      </div>
      {% endif %}
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>