{# 
  Macro for form rendering
  Custom the error message
  input : field name, form field name (form."field"), name of form (name<Type>)
  Author : Frederic Parmentier
  Created At : 04/05/2020 
#}

{% macro formFieldRender(field, formName, formType) %}
  {% set labelName = 'form.label.'~field %}
  {% set labelFor = formType~'_'~field %}
  <div class="form-group mb-3">
    <label for="{{ labelFor }}" class="label-profile">{{ labelName|trans|raw }}</label>
    {{ form_widget(formName) }}
    {% if formName.vars.valid %}
        {{ form_help(formName) }}
    {% else %}
        {% for error in formName.vars.errors %}
            <div class="invalid-feedback label-profile">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro formDateRender(field, formName, formType) %}
  {% set labelName = 'form.label.'~field %}
  {% set labelFor = formType~'_'~field %}
  <div class="form-group mb-3">
    <label for="{{ labelFor }}"  class='label-profile'>{{ labelName|trans|raw }}</label>
    <div class="input-group" id="date-container">
      <span class="input-group-text">
          <i class="far fa-calendar-alt"></i>
      </span>
      {{ form_widget(formName)}}
      {% if formName.vars.valid %}
        {{ form_help(formName) }}
      {% else %}
        {% for error in formName.vars.errors %}
          <div class="invalid-feedback">
              {{ error.message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro formNewPasswordRender(field, formNames, formType) %}
  {% set cpt = 1 %}
  {% for formName in formNames %}
    {% if cpt == 1 %}
      {% set numform = 'first' %}
    {% else %}
      {% set numform = 'second' %}
    {% endif %}
    {% set labelName = 'form.label.'~field~'_'~numform %}
    {% set labelFor = formType~'_'~field~'_'~numform %}
    <div class="form-group mb-3">
      <label for="{{ labelFor }}" class="label-profile">{{ labelName|trans|raw }}</label>
      {{ form_widget(formName) }}
      {% if formName.vars.valid %}
          {{ form_help(formName) }}
      {% else %}
          {% for error in formName.vars.errors %}
              <div class="invalid-feedback label-profile">
                  {{ error.message }}
              </div>
          {% endfor %}
      {% endif %}
    </div>
    {% set cpt = cpt + 1 %}
  {% endfor %}
{% endmacro %}